
* {
    color: #fff;
    font-family: 'PT Sans', arial, serif;
    font-size: 17px;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #000000;
    list-style: none;
    text-decoration:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    margin: 10px auto;
    border: 5px solid #ccc;
    border-style: double;
    width: 500px;
    height: 450px;
    top: 5px;
}

/*         navigation menus           */
/**************************************/
nav {
    margin-left: 3px;
    margin-right: 0px;
    height: auto;
}
    nav > ul {
        background: #000;
        float: right;
        width: 100%;
        text-align: center;
        -webkit-app-region: drag;
        margin:0 auto;
    }
        nav > ul > li {
            position: relative;
            background: rgba(0, 0, 0, 0);
            float:right;
            width: auto;
            color: #fff;
            margin-right: 6px;
        }
        nav > ul > li a {
            display: block;
            background: rgba(0, 0, 0, 0);
            float:right;
            width: auto;
            color: #fff;
            padding: 10px 20px;
            -webkit-app-region: no-drag;
            border-left: 1px solid #444;
            border-bottom: 1px solid #444;
        }
            nav > ul > li  ul {
                display: none;
            }
            nav > ul > li:hover ul {
                display: block;
           }
            nav > ul > li:hover a {
                 background: #000066;
            }
/***** end of -- navigation menus *********/

#header {
    text-align: center;
    background: #000066;
    -webkit-app-region: drag;
}

.player{
font-size: 14px;
    width: 15%;
    background: rgba(0, 0, 0, 0);
    border:none;
    text-align: center;
}

#player1 {
    color:#f00;
}

#player2 {
    color:#0f0;
}

.shaddowed {
    border: 1px solid #000000;
    border-radius: 5px;
    background: rgba(0, 0, 64, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5),
        inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 10px rgba(255, 255, 255, 0.2),
        inset 0 10px 20px rgba(255, 255, 255, 0.25),
        inset 0 -15px 30px rgba(0, 0, 0, 0.2);
}

#rollButton {
    margin: .4em auto;
    color: #fff;
    padding: .5em 0;
    width: 30%;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

    button:hover, span:hover, ul:hover  {
        cursor: pointer;
    }

/* main sets right side elements */
#main {
    width: 50%;
    float: right;
}

/* now we set left side elements */
#leftColumn {
    float: left;
    width: 100%;
    margin-left: -100%;
}

.score-container {
    padding: .2em .5em;
    display: block;
    margin: .2em;
    font-family: 'PT Sans', arial, serif;
    text-align: right;
    cursor: pointer;
}
.score-label {
    padding: 0 1em;
    margin: .1em .1em;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.score-value {
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;
    text-align:center;
    color: red;
    margin-right: 1em;
    width: 1em;
    background-color: #ccc;
    border: 1px solid #000000;
}

.locked {
    background: transparent;
    color:#fff;
    border: 0;
}

.available {
    background-color: #ccc;
    color: red;
    border: 1px solid #000000;
}

.info {
      color: #555;
    font-size: 11px;
    padding: 0 1em;
    margin: .1em .1em;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}
dialog {
        background: #fff;
        align-content: center;
        text-align: center;
        width: 480px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        padding: 0;
}

        dialog::backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        dialog > .container {
            margin-top: 10px;
            background: white;
            position: absolute;
            color: black;
            position: fixed;
            height: 300px;
            width: 450px;
            overflow: auto;
        }

        dialog button {
            background: #000066;
            position: fixed;
            bottom: 10px;
            left: 45%;
            font-family: 'PT Sans', arial, serif;
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            width: 100px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            border: 1px solid #000000;
            border-radius: 5px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5),
                inset 0 1px rgba(255, 255, 255, 0.3),
                inset 0 10px rgba(255, 255, 255, 0.2),
                inset 0 10px 20px rgba(255, 255, 255, 0.25),
                inset 0 -15px 30px rgba(0, 0, 0, 0.2);
                cursor: pointer;
        }

        dialog h1 {
            color: #000;
            background-color: #eee;
            font-size: 24pt;
            text-align: center;
            font-weight: bold;
            margin: 0px 0px 0px 0px;
            padding: 4pt;
            width: auto;
            height: auto;
            border-bottom: 2px solid black;
            -webkit-app-region: drag;
        }

        dialog h2 {
            background: rgba(0,0,0,0);
            color: #000;
            font-size: 18pt;
            text-align: center;
            font-weight: bold;
            margin: 0px 0px 10px 0px;
            padding: 0pt;
        }

        dialog h3 {
            background-color: #ccc;
            color: #000;
        }

        dialog div {
            padding: 10pt;
            margin-left: auto;
            margin-right: auto;
        }

            dialog div label {
                text-align: center;
                vertical-align: top;
                font-family: 'PT Sans', arial, serif;
                color: #000000;
                font-size: 18px;
                font-weight: bold;
                cursor: default;
            }

        dialog pre {
            font-family: monospace;
            white-space: pre;
            margin: 1em .1em;
            font-size: 12px;
            text-align: left;
            background: white;
            height: auto;
            color: black;
        }

    .squaredChkBox {
        width: 242px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background: #fcfff4;
        background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    }

    .squaredChkBox label {
        width: 260px;
        height: 40px;
        position: absolute;
        top: 4px;
        left: 4px;
        cursor: pointer;
        background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
        background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    }

    .squaredChkBox input[type=checkbox] {
        visibility: hidden;
    }

    .squaredChkBox label:after {
        content: '';
        width: 256px;
        height: 36px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: #27ae60;
        background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
        background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    .squaredChkBox label:hover::after {
        opacity: 0.3;
    }

    .squaredChkBox input[type=checkbox]:checked + label:after {
        opacity: 1;
    }